[Unit]
Description=play a 20kHz sinewave with sox

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/run/current-system/sw/bin/bluetoothctl devices Connected | /run/current-system/sw/bin/grep -iqF "teufel cinebar" && /run/current-system/sw/bin/play --channels 2 --volume 0.2 --null synth 2 sin 20'
Environment="XDG_RUNTIME_DIR=/run/user/1000"

[Install]
WantedBy=default.target
